
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>booking</title>

</head>
<body>
    <h2>Booking confirm Your Pnr is -PNR062223444</h2>
</body>
</html>
