
<div class="row travel-work-section text-center hideme" style="display:none;">
    <div class="text-16 pt-2 pb-3"><strong>Yatra for Business</strong> - India's largest platform for business travel. Join now and enjoy the benefits below.</div>
    <div class="col-md-3">
        <span><i class="fa fa-plane" aria-hidden="true" style="transform: rotate(313deg);"></i></span>
        <h6 class="text-14 fw-600 mb-2">Special Airline Fares</h6>
        <ul class="list-disc y-gap-6 text-12">
            <li>Free Meals</li>
            <li>Zero Reschedule Fee</li>

        </ul>
    </div>
    <div class="col-md-3">
        <span><i class="fa fa-bed" aria-hidden="true"></i></span>
        <h6 class="text-14 fw-600 mb-2">Negotiated Hotel Price</h6>
        <ul class="list-disc y-gap-6 text-12">
            <li>Exclusive Deals on Hotels</li>
            <li>Low Cancellation Fee</li>

        </ul>
    </div>
    <div class="col-md-3">
        <span><img src="~/img/report-icon.png"></span>
        <h6 class="text-14 fw-600 mb-2">Travel Reports</h6>
        <ul class="list-disc y-gap-6 text-12">
            <li>Track Savings</li>
            <li>Manage Expenses</li>

        </ul>
    </div>
    <div class="col-md-3">
        <span><img src="~/img/rupee-icon.png"></span>
        <h6 class="text-14 fw-600 mb-2">Quick & Easy Checkout</h6>
        <ul class="list-disc y-gap-6 text-12">
            <li>Centralized Wallet</li>
            <li>No Reimbursement Hassle</li>

        </ul>
    </div>

</div>
