<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title  -->
    <title>Jetways Travels</title>
    <!-- Favicon  -->
    <link rel="icon" href="~/img/favicon.png">
    <!-- Style css -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/daterangepicker.css">


</head>
<body>
                @RenderBody()
      
   <footer class="border-top footer text-muted">
        
    </footer>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

