
/*Drop Down CSS START AUTO SELECT*/
.autoarrival {
    position: absolute;
    z-index: 999;
    /* background: white;*/
    width: 330px;
    padding: 4px;
}

    .autoarrival > select {
        width: 330px;
    }

    .autoarrival .chosen-drop {
        border: 1px solid #d4d4d4;
        box-shadow: 0 4px 5px 0 rgb(0 0 0 / 22%);
        margin-top: -60px;
        background: #fff;
        padding: 10px;
    }

    .autoarrival input {
        border-bottom: 1px solid #e9eff4 !important;
        color: #808080;
        font-weight: 400;
        width: 300px;
        height: 40px;
    }

    .autoarrival .chosen-single {
        display: none;
    }

    .autoarrival .chosen-results {
        cursor: pointer;
        overflow-y: scroll;
        height: 230px;
    }



/* Departure Dropdown CSS**/
.autodropdown {
    position: absolute;
    z-index: 999;
    /* background: white;*/
    width: 330px;
    padding: 4px;
}

    .autodropdown > select {
        width: 330px;
    }


.chosen-drop {
    border: 1px solid #d4d4d4;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 22%);
    margin-top: -60px;
    background: #fff;
    padding: 2px 10px;
}

.autodropdown input {
    border-bottom: 1px solid #e9eff4 !important;
    color: #808080;
    font-weight: 400;
    width: 300px;
    height: 40px;
}

.autodropdown .chosen-single {
    display: none;
}

.autodropdown .chosen-results {
    cursor: pointer;
    overflow-y: scroll;
    height: 230px;
}

.chosen-drop ul li {
    background-image: url('../img/nav-icon-1.png');
    background-repeat: no-repeat;
    background-position: left 4px center;
    padding: 2px 4px 8px 38px;
    border-bottom: 1px solid #d4d4d4;
}



.chosen-search input {
    background-image: url('../img/from.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 5px center;
    padding-left: 40px;
}




/*.chosen-results li:first-child {
    display: none;
}*/


/*Drop Down CSS END AUTO SELECT*/
.btn-increase, input {
    border: none !important;
    font-size: 15px;
    color: #3554d1;
    margin: 0px 0px 0px 5px;
    font-weight: 700;
}

    .btn-increase, input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .btn-increase, textarea:focus, input:focus {
        outline: none;
    }

.btn_sub {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 5px;
    border: 1px solid #3554d1;
}

    .btn_sub:hover {
        background: #0858bd;
        color: #fff;
        border: 1px solid #0858bd;
    }

.btn-increase {
    display: flex;
    justify-items: center;
}

.btn_sub {
    padding: 2px 0px 0px 9px;
}

.fisrt {
    border: 1px solid #ccd3d8 !important;
}


#myInput {
    font-size: 20px !important;
    font-weight: 600;
    cursor:pointer;
}

#myInput1 {
    font-size: 20px !important;
    font-weight: 600;
    cursor: pointer;
}

    #myInput1::placeholder {
        font-size: 15px;
        font-weight: 400;
    }
.input-group-text #start-date {
    position: relative;
    top: 10px;
    text-align: center;
    padding-left: 0;
}

.input-group-text #end-date {
    position: relative;
    top: 10px;
    text-align: center;
    padding-left: 0;
}






#myInput::placeholder {
    font-size: 15px;
    font-weight: 400;
}

.auto-suggest li::before {
    content: url('../img/plane-icn.png');
    Replace 'flight-icon.png' with the path to your flight icon margin-right: 5px;
}

.rounddateinput {
    font-size: 12px;
    position: absolute;
    bottom: 16px;
    left: 34px;
}


.errorbox {
    position: relative;
    margin-left: 40px;
    padding: 4px 10px;
    font-size: 13px;
    color: #fff;
    margin-top: -4px;
    width: 68%;
    font-weight: 700;
    background: red;
    border-radius: 2px;
}

    .errorbox::before {
        content: "";
        position: absolute;
        transform: rotate(180deg);
        bottom: 28px;
        border-width: 8px;
        border-style: solid;
        border-color: red transparent transparent transparent;
    }



.rplc-btn {
    width: 34px;
    position: absolute;
    left: 279px;
    background: #ffffffc2;
    margin-top: 52px;
    /* margin-left: -2px; */
    padding: 3px;
    border-radius: 50%;
    z-index: 111;
}

    .rplc-btn img {
        transform: rotate(90deg);
    }

.ui-datepicker {
    position: absolute;
    top: 280px !important;
    left: 814px;
    z-index: 2;
    display: block;
    width: 34em;
}