
<div class="flight-box-content rounded-4 py-3">
    <div class="text-16 pt-2 text-left pl-10">
        <label class="ui-checkbox"><input type="checkbox"><i class="ytfi-checker ml-2"></i>Yes, Add Travel Insurance to protect my trip (&#8377;<strong>471</strong> per traveler inclusive of 18% GST)</label>
    </div>
    <div class="text-left pl-10 bg-warning-1 fw-600">6000+ travellers on Yatra protect their trip daily. <a href="#" class="text-primary fw-600">Learn More</a></div>
    <div class="row travel-work-section text-center py-3">
        <div class="col-md-3">
            <span><img src="~/img/delay-icon.png"></span>
            <h6 class="text-12 fw-700 mb-2">Common Carrier Delay (2.5 Hours)</h6>
            <ul class="y-gap-6 text-13">
                <li>Claim upto &#8377; 1,500</li>
            </ul>
        </div>
        <div class="col-md-3">
            <span><img src="~/img/mis-connection-icon.png"></span>
            <h6 class="text-12 fw-700 mb-2">Missed Connection (24 Hours)</h6>
            <ul class="y-gap-6 text-13">
                <li>Claim upto &#8377; 3,000</li>
            </ul>
        </div>
        <div class="col-md-3">
            <span><img src="~/img/cancel-opration-icon.png"></span>
            <h6 class="text-12 fw-700 mb-2">Cancellation by Operator</h6>
            <ul class="y-gap-6 text-13">
                <li>Claim upto &#8377; 3,000</li>
            </ul>
        </div>
        <div class="col-md-3">
            <span><img src="~/img/baggages-icon.png"></span>
            <h6 class="text-12 fw-700 mb-2">Baggage Delay</h6>
            <ul class="y-gap-6 text-13">
                <li>Claim upto &#8377; 2,000</li>
            </ul>
        </div>
        <div class="col-md-3">
            <span><img src="~/img/personal-ins-icon.png"></span>
            <h6 class="text-12 fw-700 mb-2">Personal Accident</h6>
            <ul class="y-gap-6 text-13">
                <li>Claim upto &#8377; 50,000</li>
            </ul>
        </div>
    </div>
    <div class="note"><strong>Note:</strong> Travel Insurance is applicable only for Indian citizens below the age of 70 years. <a href="#" class="text-primary fw-600">Terms &amp; Conditions</a></div>
    <div class="ins-provider text-right"><img src="~/img/digit_svg.svg" style="width: 40px;" alt="Digit"><span>Insurance Provider</span></div>
</div>