<!doctype html>
<html lang="zxx">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/admin/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/admin/meanmenu.css" rel="stylesheet" />
    <link href="~/css/admin/corporatehome.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
	<title>Jetways - Corporate Travel</title>
	<link rel="icon" type="image/png" href="~/img/favicon.png">
</head>
<body>
	<div class="navbar-area-two">
		<div class="exto-responsive-nav">
			<div class="container">
				<div class="exto-responsive-menu">
					<div class="logo">
						<a href="index.html">
							<img src="~/img/logo/logo-white.png" alt="logo">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="exto-nav">
			<div class="container">
				<nav class="navbar navbar-expand-md navbar-light">
					<a class="navbar-brand" href="index.html">
						<img src="~/img/logo/logo-white.png" alt="logo">
					</a>
					<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
						<ul class="navbar-nav">
							<li class="nav-item"><a href="#" class="nav-link active">Home</a></li>
							<li class="nav-item">
								<a href="about.html" class="nav-link">Customer</a>
							</li>
							<li class="nav-item"><a href="#" class="nav-link">Corporates</a></li>
							<li class="nav-item"><a href="#" class="nav-link">Vendors</a></li>
							<li class="nav-item"><a href="#" class="nav-link">Agents</a></li>
							<li class="nav-item"><a href="#" class="nav-link">Invoices</a></li>
							<li class="nav-item"><a href="#" class="nav-link">Reports</a></li>
						</ul>
						<div class="others-options">
							<button height="48px"><a asp-controller="Login" asp-action="UserLogin">SIGN IN / SIGN UP</a></button>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>

	<div class="home-area">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="hero-content">
								<h1>Jetways Travel For Business</h1>
								<p>Multi-platform booking flow, wide range of hotel options and easy modifications to meet your last-minute needs</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="top-bx-section pt-70">
		<div class="container">
			<div class="top-title-two">
				<h3>Designed for Everyone in the Organisation </h3>
				<p class="text-center">Our features and benefits are curated to suit the needs of every employee using Jetways.</p>
			</div>
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="single-top">
						<div class="top-image">
							<img src="~/img/trave-B.png" alt="image">
						</div>
						<div class="single-top-item">
							<div class="top-content">
								<h3 style="margin-bottom:0;">Travel Managers</h3>
								<p>Who manages company's travel expense</p>

								<ul class="department-list">
									<li>
										<i class="fa fa-check"></i>
										Simplified Admin Panel to manage all employees and their expenses
									</li>
									<li>
										<i class="fa fa-check"></i>
										Detailed reports on regular basis to keep a track on your spends
									</li>
									<li>
										<i class="fa fa-check"></i>
										Dedicated Support Manager from Jetways to take care of your queries
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-top">
						<div class="top-image">
							<img src="~/img/trave-M.png" alt="image">
						</div>
						<div class="single-top-item">
							<div class="top-content">
								<h3 style="margin-bottom:0;">Central Bookers</h3>
								<p>Who books for employees</p>

								<ul class="department-list">
									<li>
										<i class="fa fa-check"></i>
										Shortlist & share travel options to employees directly from jetways travel
									</li>
									<li>
										<i class="fa fa-check"></i>
										Book using the traveller's Policy to ensure the right options are booked
									</li>
									<li>
										<i class="fa fa-check"></i>
										Track your requests & get the job done from one single place
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="single-top">
						<div class="top-image">
							<img src="~/img/employee-T.png" alt="image">
						</div>
						<div class="single-top-item">
							<div class="top-content">
								<h3 style="margin-bottom:0;">Employees</h3>
								<p>Who travel for business</p>

								<ul class="department-list">
									<li>
										<i class="fa fa-check"></i>
										Special Corporate Fares in flights to ensure you get more benefits at reduced price
									</li>
									<li>
										<i class="fa fa-check"></i>
										Jetways Assured Hotels for top-rated stay options
									</li>
									<li>
										<i class="fa fa-check"></i>
										Sanitized Cabs to safely pick & drop you to your destinations
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="increase-section">
		<div class="container">
			<div class="increase-title">
				<h3>Don't Wait Anymore. Get Started in Just 3 Steps</h3>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="increase-item">
						<div class="increase-area-content">
							<img src="~/img/icon/1.png" alt="image">
							<h3>Create Your Account Now</h3>
							<p>Get started by providing minimal details like employee size, organisation name, etc.</p>
						</div>
						<div class="increase-shape">
							<img src="~/img/icon/shape.png" alt="image">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="increase-item">
						<div class="increase-area-content">
							<img src="~/img/icon/2.png" alt="image">
							<h3>Set Up Employee-friendly Policy Guidelines</h3>
							<p>Gain most of the benefits by setting up employee-friendly policies (only Admin users).</p>
						</div>
						<div class="increase-shape">
							<img src="~/img/icon/shape.png" alt="image">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="increase-item">
						<div class="increase-area-content">
							<img src="~/img/icon/3.png" alt="image">
							<h3>Invite Your Employees &amp; Start Booking</h3>
							<p>Invite your employees to Jetways so that they could enjoy all the corporate benefits.</p>
						</div>
						<div class="increase-shape">
							<img src="~/img/icon/shape.png" alt="image">
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="specialty-section pt-70 pb-100">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-5">
					<div class="specialty">
						<img src="~/img/g-travel-team.png" alt="image">
					</div>
				</div>
				<div class="col-lg-7">
					<div class="specialty-content-area">
						<h3>Global Travel, Powered By One Travel Team</h3>
						<p>
							No matter how large, diverse, and complex your business or travel needs, we’re committed to designing simple, safe and sustainable travel solutions that deliver measurable results.

							At CTM, we take a highly consultative and curated approach to designing your global travel program, ensuring a solution that meets your business’s unique goals, challenges and opportunities.

							We work with your team to source and select the right solutions for your business and people in every market you operate in and package them up into one program, accessed through an intergated technology ecosystem, and supported by one global travel team, to give your unique global travel program a place to call “home”.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="department-section pb-70">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="department-area-content">
						<h3>Our Corporate Travel Business</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec neque consectetur, pharetra neque quis, tincidunt sem. Ut vehicula orci quis elit scelerisque blandit. Duis maximus vulputate ante a eleifend. Fusce ac volutpat magna. Quisque vel felis nisi. Cras id eleifend tellus. Vestibulum ut posuere arcu, non tempus sem. Proin varius ullamcorper mi, ornare pharetra metus accumsan at. Suspendisse molestie ante non tempor malesuada.</p>
						<ul class="department-list">
							<li>
								<i class="fa fa-check"></i>
								Orci varius natoque penatibus et magnis
							</li>
							<li>
								<i class="fa fa-check"></i>
								lacinia consequat ipsum. Sed ut egestas quam.
							</li>
							<li>
								<i class="fa fa-check"></i>
								estibulum sit amet mauris fringilla, porttitor risus eget,
							</li>
							<li>
								<i class="fa fa-check"></i>
								Praesent ullamcorper tempor justo eget feugiat.
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="department">
						<img src="~/img/corporate-travel-team.png" alt="image">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="team-section">
		<div class="container">
			<div class="team-title">
				<h3>Corporate Meetings &amp; Events</h3>
			</div>
			<p>
				Developing groundbreaking strategies is integral to the success of every organization. While not everyone enjoys a Eureka moment in the bathroom, Jetways Travels can definitely provide the perfect ambience that simulates the senses of your executive to achieve that in the boardroom.

				Jetways Travels Meetings Services are especially designed to cater to the boardroom meetings, when adrenaline-filled brainstorming sessions and high-level debates on the pros and cons of every decision weigh heavily on the executives.

				As a Meetings Planner and Manager, Jetways Travels creates the perfect balance between innovative settings and high-end technological support to optimize productivity. With us to take care of every need, from personalized stationary kits and high-end audio-visual equipment for presentations to refreshments, corporations are free to focus all their resources on the meeting itself. Jetways Travels Meeting Services include:
			</p>
			<p>
				Planning an event requires immaculate attention-to-detail, precision, creativity and of course a lot of time – a resource that most organizations invariably are short of. Jetways Travels steps in for many such organizations and assists them in organizing and conducting remarkable events on just about every level and scale.

				Each aspect of conducting an event – right from the inception stage to planning the most minute details to making the actual arrangements at the selected venue, arranging for the necessary permits and certificates from the governing bodies and arranging transport and accommodations wherever required - is taken care of in a consistent and professional manner.

				Be it a product launch, a trade show, an opening of a new branch or outlet, a promotional event or road shows, Jetways Travels is there with you all the way. At the same time, care is taken to reduce expenditure by dipping into resources from our expansive database of preferred suppliers and booking channels.
			</p>
		</div>
	</section>
	<footer class="footer-section seo-footer copyright-area">
		<div class="container">
			<div class="text-center">
				<div class="row align-items-center">
					<div class="col-lg-12 col-sm-12 col-md-12">
						<p class="text-center">© 2024 All Right Reserved to Jetwaystravels.com </p>
					</div>
				</div>
			</div>
		</div>
	</footer>
    <script src="~/js/corporate/main.js"></script>
    <script src="~/js/corporate/jquery.meanmenu.js"></script>
    <script src="~/js/corporate/jquery.min.js"></script>
</body>
</html>