<div class="row y-gap-40">

    <div class="sidebar__item">
        <h5 class="text-18 fw-600 mb-10">Popular Filters</h5>
        <div class="sidebar-checkbox">

            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">
                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectionCheckbox selectionCheckboxRight" value="0" name="stopsCheckbox" onclick="combinedFilterFunction()">
                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>
                        <div class="text-15 ml-10">Nonstop</div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="text-15 text-light-1">₹12,997</div>
                </div>
            </div>

            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">

                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" name="morningDeparture">
                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>

                        <div class="text-15 ml-10">Morning Departures</div>

                    </div>

                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">₹14,997</div>
                </div>
            </div>
            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">

                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectCheckboxAirLineRT" value="Indigo" name="Airline" onclick="combinedFilterFunction()">
                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>
                        <div class="text-15 ml-10">Indigo</div>
                    </div>

                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">₹12,997</div>
                </div>
            </div>
            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">

                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectCheckboxAirLineRT" value="Airasia" name="Airline" onclick="combinedFilterFunction()">
                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>
                        <div class="text-15 ml-10">Air India Express</div>
                    </div>

                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">₹12,997</div>
                </div>
            </div>
        </div>
    </div>
    @*  <div class="sidebar__item pb-30">
    <h5 class="text-18 fw-600 mb-10">Price</h5>
    <div class="row x-gap-10 y-gap-30">
    <div class="col-12">
    <div class="js-price-rangeSlider">
    <div class="text-14 fw-500"></div>

    <div class="d-flex justify-between mb-20">
    <div class="text-15 text-dark-1">
    <span class="js-lower"></span>
    -
    <span class="js-upper"></span>
    </div>
    </div>

    <div class="px-5">
    <div class="js-slider"></div>
    </div>
    </div>
    </div>
    </div>
    </div> *@
    @*  Left Side Departure *@
    <div class="sidebar__item">
        <h5 class="text-18 fw-600 mb-20">Onward Journey</h5>
        <h4 class="text-16 fw-600 mt-10 mb-10">Departing from Delhi</h4>
        <div class="sidebar-checkbox">
            <div class="row y-gap-10 items-center justify-between">
                <div class="flt-bx">
                    <div id="filter-one" class="flt-Tm-slt one flt-Tm-new" data-departure="before_6am">
                        <div class="btm-time">Before 6 AM</div>
                    </div>

                    <div id="filter-two" class="flt-Tm-slt two flt-Tm-new" data-departure="6am_to_12pm">
                        <div class="btm-time">6 AM - 12 PM</div>
                    </div>

                    <div id="filter-three" class="flt-Tm-slt three flt-Tm-new" data-departure="12pm_to_6pm">
                        <div class="btm-time">12 PM - 6 PM</div>
                    </div>

                    <div id="filter-four" class="flt-Tm-slt four flt-Tm-new" data-departure="after_6pm">
                        <div class="btm-time">After 6 PM</div>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="text-16 fw-600 mt-20 mb-10">Arrival at Bengaluru</h4>
        <div class="sidebar-checkbox">

            <div class="row y-gap-10 items-center justify-between">
                <div class="flt-bx">
                    <div id="filter-one" class="flt-Tm-slt one flt-Tm-new" data-arrival="before_6am">
                        <div class="btm-time">Before 6 AM</div>
                    </div>

                    <div id="filter-two" class="flt-Tm-slt two flt-Tm-new" data-arrival="6am_to_12pm">
                        <div class="btm-time">6 AM - 12 PM</div>
                    </div>

                    <div id="filter-three" class="flt-Tm-slt three flt-Tm-new" data-arrival="12pm_to_6pm">
                        <div class="btm-time">12 AM - 6 PM</div>
                    </div>

                    <div id="filter-four" class="flt-Tm-slt four flt-Tm-new" data-arrival="after_6pm">
                        <div class="btm-time">After 6 PM</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*  Left Side Stops *@
    <div class="sidebar__item">
        <h5 class="text-18 fw-600 mb-10">Stops</h5>
        <div class="sidebar-checkbox">

            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">
                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectionCheckbox" value="0" name="stopsCheckbox" onclick="combinedFilterFunction()">

                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>

                        <div class="text-15 ml-10">Nonstop</div>

                    </div>

                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">$92</div>
                </div>
            </div>

            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">

                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectionCheckbox" name="stopsCheckbox" value="1" onclick="nonStopFunction()">
                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>

                        <div class="text-15 ml-10">1 Stop</div>

                    </div>

                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">$92</div>
                </div>
            </div>

            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">
                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectionCheckbox" name="stopsCheckbox" value="2" onclick="nonStopFunction()">
                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>
                        <div class="text-15 ml-10">2+ Stops</div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="text-15 text-light-1">$92</div>
                </div>
            </div>

        </div>
    </div>
    @*  RightSide Departure *@
    <div class="sidebar__item">
        <h5 class="text-18 fw-600 mb-20">Return Journey</h5>
        <h4 class="text-16 fw-600 mt-10 mb-10">Departing from Bengaluru</h4>
        <div class="sidebar-checkbox">

            <div class="row y-gap-10 items-center justify-between">
                <div class="flt-bx">
                    <div id="filter-one" class="flt-Tm-slt one Returnfilter" data-departure="before_6am">
                        <div class="btm-time">Before 6 AM</div>
                    </div>

                    <div id="filter-two" class="flt-Tm-slt two Returnfilter" data-departure="6am_to_12pm">
                        <div class="btm-time">6 AM - 12 PM</div>
                    </div>

                    <div id="filter-three" class="flt-Tm-slt three Returnfilter" data-departure="12pm_to_6pm">
                        <div class="btm-time">12 PM - 6 PM</div>
                    </div>

                    <div id="filter-four" class="flt-Tm-slt four Returnfilter" data-departure="after_6pm">
                        <div class="btm-time">After 6 PM</div>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="text-16 fw-600 mt-20 mb-10">Arrival at Delhi</h4>
        <div class="sidebar-checkbox">

            <div class="row y-gap-10 items-center justify-between">
                <div class="flt-bx">
                    <div id="filter-one" class="flt-Tm-slt one Returnfilter" data-arrival="before_6am">
                        <div class="btm-time">Before 6 AM</div>
                    </div>

                    <div id="filter-two" class="flt-Tm-slt two Returnfilter" data-arrival="6am_to_12pm">
                        <div class="btm-time">6 AM - 12 PM</div>
                    </div>

                    <div id="filter-three" class="flt-Tm-slt three Returnfilter" data-arrival="12pm_to_6pm">
                        <div class="btm-time">12 AM - 6 PM</div>
                    </div>

                    <div id="filter-four" class="flt-Tm-slt four Returnfilter" data-arrival="after_6pm">
                        <div class="btm-time">After 6 PM</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*  RightSide Stops *@
    <div class="sidebar__item">
        <h5 class="text-18 fw-600 mb-10">Stops</h5>
        <div class="sidebar-checkbox">

            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">
                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectionCheckboxRight" value="0" name="stopsCheckbox" onclick="combinedFilterFunction()">

                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>

                        <div class="text-15 ml-10">Nonstop</div>

                    </div>

                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">$92</div>
                </div>
            </div>

            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">

                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectionCheckboxRight" name="stopsCheckbox" value="1" onclick="nonStopFunctionRight()">
                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>

                        <div class="text-15 ml-10">1 Stop</div>

                    </div>

                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">$92</div>
                </div>
            </div>

            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">

                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectionCheckboxRight" name="stopsCheckbox" value="2" onclick="nonStopFunctionRight()">
                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>
                        <div class="text-15 ml-10">2+ Stops</div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="text-15 text-light-1">$92</div>
                </div>
            </div>

        </div>
    </div>
    @* AirLine time *@
    <div class="sidebar__item">
        <h5 class="text-18 fw-600 mb-10">Airlines</h5>
        <div class="sidebar-checkbox">

            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">

                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectCheckboxAirLineRT" value="Airasia" name="Airline" onclick="combinedFilterFunction()">

                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>

                        <div class="text-15 ml-10">Air India Express</div>

                    </div>

                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">$92</div>
                </div>
            </div>

            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">

                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectCheckboxAirLineRT" value="Indigo" name="Airline" onclick="combinedFilterFunction()">

                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>

                        <div class="text-15 ml-10">Indigo</div>

                    </div>

                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">$45</div>
                </div>
            </div>
            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">

                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectCheckboxAirLineRT" value="Spicejet" name="Airline" onclick="combinedFilterFunction()">

                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>

                        <div class="text-15 ml-10">Spicejet</div>

                    </div>

                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">$21</div>
                </div>
            </div>
            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">

                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectCheckboxAirLineRT" value="AkasaAir" name="Airline" onclick="combinedFilterFunction()">

                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>
                        <div class="text-15 ml-10">Akasa Air</div>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">$21</div>
                </div>
            </div>
            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">

                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectCheckboxAirLineRT" value="Vistara" name="Airline" onclick="combinedFilterFunction()">

                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>

                        <div class="text-15 ml-10">Vistara</div>

                    </div>

                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">$21</div>
                </div>
            </div>
            <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">

                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectCheckboxAirLineRT" value="AirIndia" name="Airline" onclick="combinedFilterFunction()">

                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>

                        <div class="text-15 ml-10">AirIndia</div>

                    </div>

                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">$21</div>
                </div>
            </div>
         @*    <div class="row y-gap-10 items-center justify-between">
                <div class="col-auto">

                    <div class="d-flex items-center">
                        <div class="form-checkbox ">
                            <input type="checkbox" class="selectCheckboxAirLineRT" value="Hehnair" name="Airline" onclick="combinedFilterFunction()">

                            <div class="form-checkbox__mark">
                                <div class="form-checkbox__icon fa fa-check"></div>
                            </div>
                        </div>

                        <div class="text-15 ml-10">Hahnair</div>

                    </div>

                </div>

                <div class="col-auto">
                    <div class="text-15 text-light-1">$21</div>
                </div>
            </div> *@
        </div>
    </div>
</div>
<style>
    .flt-Tm-slt.active {
        background-color: #007bff;
        color: #007bff;
    }
</style>









