@{
    ViewData["Title"] = "Home Page";
}
<!-- Bootstrap -->
<html>
    
    <body>
        <div width="100%">
    <img src="~/img/index-2.jpg" width="100%"/>
    <h1>DATA SHOW IN URL </h1>
    <button id="btn_update" type="submit"></button>
     </div>

    </body>

</html>



