<form asp-action="ContectDetails" asp-controller="AATripsell" method="post">
    @* @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="row y-gap-10 row mt-2 py-3 mb-3">

        <div class="col-12">
            <label class="text-18 fw-600">Contact Details</label>
        </div>
        <div class="col-md-6">
            <div class="form-input ">

                <input type="text" name="first" id="first">
                <label class="lh-1 text-16 text-light-1">First Name</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-input ">

                <input type="text" name="middle" id="middle">
                <label class="lh-1 text-16 text-light-1">Middle Name</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-input ">

                <input type="text" name="last" id="last">
                <label class="lh-1 text-16 text-light-1">Last Name</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-input ">

                <input type="text" name="lineOne" id="lineOne">
                <label class="lh-1 text-16 text-light-1">Address1</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-input ">

                <input type="text" name="city" id="city">
                <label class="lh-1 text-16 text-light-1">City</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-input ">

                <input type="text" name="postalCode" id="postalCode">
                <label class="lh-1 text-16 text-light-1">Postal Code</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-input ">

                <input type="text" name="emailAddress" id="emailAddress">
                <label class="lh-1 text-16 text-light-1">Email ID</label>
            </div>
        </div>

        <div class="col-md-2 phone-code">
            <select class="form-control form-control-lg">
                <option>+91</option>
            </select>
        </div>
        <div class="col-md-4 phone-number">
            <div class="form-input">
                <input type="text" name="number" id="number">
                <label class="lh-1 text-16 text-light-1">Phone Number</label>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <input type="submit" class="btn btn-primary pagelaod" value="Save" />
        </div>

    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $(".pagelaod").click(function (e) {
            e.preventDefault();

        });
</script>




