<form id="contactForm">
    <div class="row y-gap-10 row mt-2 py-3 mb-3">

        <div class="col-md-3">
            <div class="form-input ">
                <input type="text" name="first" maxlength="32" oninput="validateInput(event)" id="first" class="firstNClass" style='text-transform:uppercase' placeholder="First Name">
            </div>
            <p id="error-message1" class="error-message" style="display:none">Enter First name</p>
            <p id="errorMessage" style="color: red;font-size:13px;"></p>
        </div>

        <div class="col-md-3">
            <div class="form-input ">
                <input type="text" name="last" maxlength="32" id="last" oninput="validateInput2(event)" style='text-transform:uppercase' class="lastNClass" placeholder="Last Name">
            </div>
            <p id="error-message2" class="error-message" style="display:none"></p>
            <p id="errorMessage2" style="color: red;font-size:13px;"></p>
        </div>

        <div class="col-md-3">
            <div class="form-input">
                <input type="text" name="emailAddress" maxlength="40" oninput="validateEmail(event)" class="emailNClass" id="emailAddress" placeholder="Email ID">
            </div>
            <p id="emailErrorMessage" style="color: red; font-size:13px;"></p>
            <p id="error-message7" class="error-message" style="display:none">Enter Email Address.</p>
        </div>

        <div class="col-md-1 phone-code">
            <select class="form-control form-control-lg">
                <option>+91</option>
            </select>
        </div>

        <div class="col-md-2 phone-number">
            <div class="form-input">
                <input type="text" name="number" id="number" maxlength="10" class="phoneNClass" placeholder="Phone Number" oninput="validatePhoneNumber(event)">

            </div>
            <p id="error-message8" class="error-message" style="display:none">Enter Phone Number</p>
            <p id="phoneNumberErrorMessage" style="color: red;font-size:13px;"></p>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <div class="d-flex align-items-center">
                <div class="kk">
                    Same as lead passenger <button id="leadpassengerButton2" class="checkbox-button ms-2"></button>
                </div>
                <div class="ms-3">
                    Do you have GST  <button id="GSTButton2" class="checkbox-button ms-2"></button>

                </div>
            </div>
            <div><input type="submit" class="btn btn-primary pagelaodSg" value="Save"  /></div>

        </div>
        <div class="col-md-12 hid-block hidden">
            <div class="text-16 fw-600">
                Fill your's GST details below !
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-input">

                <input type="text" id="gstname" maxlength="32" name="companyName" oninput="validateInputgst(event)" class="companyName hid-block hidden" placeholder="Company Name">
            </div>
            <p id="errorMessagegst" style="color: red;font-size:13px;"></p>
            <p id="error-message9" class="error-message" style="display:none">Enter Company Name</p>
        </div>
        <div class="col-md-3">
            <div class="form-input">
                <input type="text" id="gstnumber" maxlength="15" name="customerNumber" oninput="validateGST(event)" class="companyName hid-block hidden" placeholder="GST Number">
            </div>
            <p id="gstErrorMessage" style="color: red;font-size:13px;"></p>
            <p id="error-message10" class="error-message" style="display:none">Enter GST Number</p>

        </div>

        <div class="col-md-3">
            <div class="form-input">
                <input type="text" id="emailAddressGST" name="emailAddressgst" maxlength="40" oninput="validateEmailGST(event)" class="gstemail hid-block hidden" placeholder="Email ID">
            </div>
            <p id="emailErrorMessageGST" style="color: red; font-size:13px;"></p>
            <p id="error-message11" class="error-message" style="display:none">Enter GST email</p>
           
        </div>

    </div>
</form>
<style>
    .error-message {
        color: red;
        font-size: 13px;
    }

    .checkbox-button {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 0;
        cursor: pointer;
    }


        .checkbox-button.checked::after {
            content: '\2713';
            font-size: 16px;
            color: #333;
            display: block;
            text-align: center;
            line-height: 20px;
        }

</style>
<script type="text/javascript">

    //Lead Passeneger Check Box function
    var buttonlead = document.getElementById('leadpassengerButton2');
    buttonlead.addEventListener('click', function (e) {

        e.preventDefault();

        buttonlead.checked = !buttonlead.checked;

        if (buttonlead.checked) {

            buttonlead.classList.add('checked');
        } else {
            buttonlead.classList.remove('checked');
        }
        if (buttonlead.checked) {
            // alert("Checked!!")
            debugger;
            var firstLeadPass = document.querySelector('.firstNClass').value;
            var lastLeadPass = document.querySelector('.lastNClass').value;
            var emaiLeadPass = document.querySelector('.emailNClass').value;
            var phoneLeadPass = document.querySelector('.phoneNClass').value;
            localStorage.setItem('Leadpassenger1', firstLeadPass);
            localStorage.setItem('Leadpassenger2', lastLeadPass);
            localStorage.setItem('Leadpassenger3', emaiLeadPass);
            localStorage.setItem('Leadpassenger4', phoneLeadPass);
        } else {
            debugger;
            alert("Checkbox is unchecked");
            var firstLeadPass = "";
            var lastLeadPass = "";
            var emaiLeadPass = "";
            var phoneLeadPass = "";
            localStorage.setItem('Leadpassenger1', firstLeadPass);
            localStorage.setItem('Leadpassenger2', lastLeadPass);
            localStorage.setItem('Leadpassenger3', emaiLeadPass);
            localStorage.setItem('Leadpassenger4', phoneLeadPass);
        }
    });
    //GST Checkbox Function
    var buttongst = document.getElementById('GSTButton2');
    buttongst.addEventListener('click', function (e) {
        e.preventDefault();

        buttongst.checked = !buttongst.checked;
        if (buttongst.checked) {

            buttongst.classList.add('checked');

        } else {

            buttongst.classList.remove('checked');
        }
        if (buttongst.checked) {

            //alert("Checked!!")
            $(".hid-block").show();


        } else {

            var gstToDisplay = document.getElementById("error-message9");
            gstToDisplay.style.display = "none";
            var gstNToDisplay = document.getElementById("error-message10");
            gstNToDisplay.style.display = "none";
            document.getElementById('gstErrorMessage').innerText = "";
            document.getElementById("gstname").value = "";
            document.getElementById("gstnumber").value = "";
            document.getElementById("emailAddressGST").value = "";
            document.getElementById("emailErrorMessageGST").value = "";
            $(".hid-block").hide();
        }
    });
    //****************GST END*************************** */
    $(document).ready(function () {
        $(".pagelaodSg").click(function (e) {
            e.preventDefault();
            function setInputValueAndRemoveError(inputSelector, localStorageKey) {
                var value = localStorage.getItem(localStorageKey);
                var inputElement = document.querySelector(inputSelector);
                inputElement.value = value;
                if (value) {
                    removeError(inputElement);
                }
            }
            function removeError(element) {
                const parentElement = element.closest('.col-md-3, .col-md-2');
                const errorMessage = parentElement.querySelector(".error-message");
                if (errorMessage) {
                    errorMessage.style.display = 'none';
                }
                element.classList.remove("error-input");
            }

            setInputValueAndRemoveError(".contactFname", 'Leadpassenger1');
            setInputValueAndRemoveError(".contactLname", 'Leadpassenger2');
            setInputValueAndRemoveError(".contactemail", 'Leadpassenger3');
            setInputValueAndRemoveError(".contactphone", 'Leadpassenger4');
            // var laedpas = localStorage.getItem('Leadpassenger1');
            // document.querySelector(".contactFname").value = laedpas;
            // var laedpasLast = localStorage.getItem('Leadpassenger2');
            // document.querySelector(".contactLname").value = laedpasLast;
            // var laedpasemail = localStorage.getItem('Leadpassenger3');
            // document.querySelector(".contactemail").value = laedpasemail;
            // //document.querySelectorAll(".contactemail").value = laedpasemail;
            // var laedpasphone = localStorage.getItem('Leadpassenger4');
            // document.querySelector(".contactphone").value = laedpasphone;
            var firstfocus = document.getElementById("first").value;
            if (firstfocus == "") {
                //alert("Enter Origin Name");
                var firstToDisplay = document.getElementById("error-message1");
                firstToDisplay.style.display = "block";
                document.getElementById("first").focus();
                return false;
            }
            else {
                var firstToDisplay = document.getElementById("error-message1");
                firstToDisplay.style.display = "none";
            }
            var lastfocus = document.getElementById("last").value;
            if (lastfocus == "") {
                //alert("Enter Origin Name");
                var firstToDisplay = document.getElementById("error-message2");
                firstToDisplay.style.display = "block";
                document.getElementById("last").focus();
                return false;
            }
            else {
                var firstToDisplay = document.getElementById("error-message2");
                firstToDisplay.style.display = "none";
            }

            // email
            let emailfocus = document.getElementById("emailAddress").value;
            var regex = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (!regex.test(emailfocus)) {
                let emailToDisplay = document.getElementById("error-message7");
                emailToDisplay.style.display = "none";
                document.getElementById('emailErrorMessage').innerText = "Enter Email Address.";

                return false;

            } else {
                document.getElementById('emailErrorMessage').innerText = "";
            }
            if (emailfocus == "") {
                let emailToDisplay = document.getElementById("error-message7");
                emailToDisplay.style.display = "block";
                document.getElementById('emailErrorMessage').innerText = "";
                document.getElementById("emailAddress").focus();
                return false;
            }
            else {
                let emailToDisplay = document.getElementById("error-message7");
                emailToDisplay.style.display = "none";
            }
            //Phone Number

            let phonefocus = document.getElementById("number").value;
            if (phonefocus == "")
            {
                let phoneEToDisplay = document.getElementById("error-message8");
                phoneEToDisplay.style.display = "block";
                document.getElementById('phoneNumberErrorMessage').innerText = "";
                document.getElementById("number").focus();
                return false;
            }
            var mobileNumberPattern = /^\d{10}$/; // Assumes a 10-digit number
            if (!mobileNumberPattern.test(phonefocus)) {
                alert("Please enter a valid 10-digit mobile number.");
                return false;
            }

            //Gst
            var buttongst = document.getElementById('GSTButton2');
            if (buttongst.checked == true) {

                let gstnamefocus = document.getElementById("gstname").value;
                if (gstnamefocus == "") {
                    var gstToDisplay = document.getElementById("error-message9");
                    gstToDisplay.style.display = "block";
                    document.getElementById("gstname").focus();
                    return false;
                }
                else {
                    var gstToDisplay = document.getElementById("error-message9");
                    gstToDisplay.style.display = "none";
                }
                let gstnofocus = document.getElementById("gstnumber").value;

                var regex = /^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$/;
                if (!regex.test(gstnofocus)) {
                    var gstnoToDisplay = document.getElementById("error-message10");
                    gstnoToDisplay.style.display = "none";
                    document.getElementById('gstErrorMessage').innerText = "Enter 15-digit GST number..";
                    return false;
                } else {

                    document.getElementById('gstErrorMessage').innerText = "";
                }
                if (gstnofocus == "") {
                    var gstnoToDisplay = document.getElementById("error-message10");
                    gstnoToDisplay.style.display = "block";
                    document.getElementById("gstnumber").focus();
                    return false;
                }
                else {
                    var gstnoToDisplay = document.getElementById("error-message10");
                    gstnoToDisplay.style.display = "none";
                }

                // GST Email Validation
                let gstemailfocus = document.getElementById("emailAddressGST").value;
                
                var emailRegex = /^(?!.*\.\.)[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;

                if (gstemailfocus == "") {
                  
                } else if (!emailRegex.test(gstemailfocus)) {
                    document.getElementById('gstEmailErrorMessage').innerText = "Enter a valid email address.";
                    return false;
                } else {
                  
                   
                }
            

            }
            var contactFormData = new FormData($("#contactForm")[0]);
            //alert("form data:"+ contactFormData);
            $.ajax({
                url: "/AATripsell/ContectDetails",
                type: "POST",
                data: contactFormData,
                processData: false,
                contentType: false,
                success: function (result) {
                    // Handle the response from the server if needed
                    var contentToDisplay = document.getElementById("content");
                    contentToDisplay.style.display = "none";
                    var content2ToDisplay = document.getElementById("content2");
                    content2ToDisplay.style.display = "block";

                    var toggleButton2 = document.getElementById("toggleButton2");
                    //toggleButton2.disabled = false;
                    toggleButton2.style.opacity = "1.0";

                },
                error: function (error) {

                }
            });

        });
    });
    //First Name
    function validateInput(event) {

        var input = event.target.value;
        var regex = /^[A-Za-z]{1,32}$/;
        if (!regex.test(input)) {

            document.getElementById('errorMessage').innerText = "";
            event.target.value = input.replace(/[^a-zA-Z]/g, '');
        } else {
            document.getElementById('errorMessage').innerText = "";
        }

        var firstfocus = document.getElementById("first").value;
        if (firstfocus == "") {
            var firstToDisplay = document.getElementById("error-message1");
            firstToDisplay.style.display = "block";
            document.getElementById("first").focus();
            return false;
        }
        else {
            var firstToDisplay = document.getElementById("error-message1");
            firstToDisplay.style.display = "none";
        }
    }
    //last Name
    function validateInput2(event) {
        const input = event.target.value;
        const regex = /^[A-Za-z]{1,32}$/;
        if (!regex.test(input)) {
            document.getElementById('errorMessage2').innerText = "";
            event.target.value = input.replace(/[^a-zA-Z]/g, '');
        } else {
            document.getElementById('errorMessage2').innerText = "";
        }
        var lastfocus = document.getElementById("last").value;
        if (lastfocus == "") {
            var firstToDisplay = document.getElementById("error-message2");
            firstToDisplay.style.display = "block";
            document.getElementById("last").focus();
            return false;
        }
        else {
            var firstToDisplay = document.getElementById("error-message2");
            firstToDisplay.style.display = "none";
        }


    }
    //Contact Email
    function validateEmail(event) {

        var email = event.target.value;
        var regex = /^(?!.*\.\.)[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
        var errorMessage = document.getElementById('emailErrorMessage');
        var errorDisplay = document.getElementById('error-message7');

        if (email.trim() === "") {
            errorMessage.innerText = "";
        } else if (!regex.test(email)) {
            errorMessage.innerText = "Enter a valid Email Address.";
        } else {
            errorMessage.innerText = "";
        }

        if (email.trim() === "") {
            errorDisplay.style.display = "block";
            document.getElementById("emailAddress").focus();
            return false;
        } else {
            errorDisplay.style.display = "none";
        }


    }

    //Gstemail
    function validateEmailGST(event) {

        var email = event.target.value;
        var regex = /^(?!.*\.\.)[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
        var errorMessage = document.getElementById('emailErrorMessageGST');
        //var errorDisplay = document.getElementById('error-message7');

        if (email.trim() === "") {
            errorMessage.innerText = "";
        } else if (!regex.test(email)) {
            errorMessage.innerText = "Enter a valid Email Address.";
        } else {
            errorMessage.innerText = "";
        }

        // if (email.trim() === "") {
        //     errorDisplay.style.display = "block";
        //     document.getElementById("emailAddress").focus();
        //     return false;
        // } else {
        //     errorDisplay.style.display = "none";
        // }

    }

    function validatePhoneNumber(event) {

        const phoneNumber = event.target.value;
        
        // Regex to validate a phone number that starts with 1-9 and is followed by digits
        const regex = /^[1-9][0-9]{9}$/;

       // const regex = /^\d{10,}$/;

       // const regex = /^[0-9]+$/;

        if (!regex.test(phoneNumber)) {
            if (phoneNumber === "") {
                return false;
            }
          else { 
            document.getElementById('phoneNumberErrorMessage').innerText = "Invalid Phone Number";
            let phoneToDisplay = document.getElementById("error-message8");
            phoneToDisplay.style.display = "block";
            return false;
        }
        } else {
            document.getElementById('phoneNumberErrorMessage').innerText = "";
        }

        let phonefocus = document.getElementById("number").value;
        if (phonefocus === "") {
            let phoneToDisplay = document.getElementById("error-message8");
            phoneToDisplay.style.display = "block";
            document.getElementById("number").focus();
            return false;
        } else {
            let phoneToDisplay = document.getElementById("error-message8");
            phoneToDisplay.style.display = "none";
        }

        return true;
    }
    //Gst Compamy
    function validateInputgst(event) {

        const input = event.target.value;
        var regex = /^[a-zA-Z\s.,'-]{1,100}$/;
        //var regex = /^[a-zA-Z]{1,100}$/;
        if (!regex.test(input)) {
            document.getElementById('errorMessagegst').innerText = "";
            event.target.value = input.replace(/[^a-zA-Z]/g, '');
        } else {
            document.getElementById('errorMessagegst').innerText = "";
        }
        var gstnamefocus = document.getElementById("gstname").value;
        if (gstnamefocus == "") {
            var gstToDisplay = document.getElementById("error-message9");
            gstToDisplay.style.display = "block";
            document.getElementById("gstname").focus();
            return false;
        }
        else {
            var gstToDisplay = document.getElementById("error-message9");
            gstToDisplay.style.display = "none";
        }

    }
    //Gst Number
    function validateGST(event) {

        const gstNumber = event.target.value.toUpperCase();
        var regex = /^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$/;
        if (gstNumber.trim() === "") {

            document.getElementById('gstErrorMessage').innerText = "";
        } else if (!regex.test(gstNumber)) {

            document.getElementById('gstErrorMessage').innerText = "Enter 15-digit GST number..";
        } else {

            document.getElementById('gstErrorMessage').innerText = "";
        }
        var gstnofocus = document.getElementById("gstnumber").value;
        if (gstnofocus == "") {
            var gstnoToDisplay = document.getElementById("error-message10");
            gstnoToDisplay.style.display = "block";
            document.getElementById("gstnumber").focus();
            return false;
        }
        else {
            var gstnoToDisplay = document.getElementById("error-message10");
            gstnoToDisplay.style.display = "none";
        }

    }
</script>






